<!-- Header -->
<nav class="uk-background-primary">
  <div class="uk-container uk-container-expand">
    <div uk-navbar>
      <ul class="uk-navbar-nav uk-flex uk-flex-between uk-width-1-1">
        <li>
          <a class="uk-navbar-item uk-logo" routerLink="/" aria-label="Back to Home">
            <img src="https://getuikit.com/images/uikit-logo.svg" class="uk-margin-small-right" width="28" height="34"
              alt="UIkit">
            <span style="color: white; font-size: 24px; text-transform: none;">NGX-UIkit</span>
          </a>
        </li>
        <li class="uk-flex">
          <a class="header-button" href="https://getuikit.com/docs/introduction" target="_blank"
            style="color: white;"><span uikitIcon="link-external"></span> Full Documentation</a>
          <a class="uk-navbar-toggle uk-hidden@m uk-icon uk-navbar-toggle-icon uk-margin-medium-left"
            uk-navbar-toggle-icon href="#offcanvas" uk-toggle aria-label="Open menu" role="button" aria-expanded="false"
            style="color: white;"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Left menu column -->
<div class="sidebar-left uk-visible@m">
  <h3>Documentation</h3>
  <ul class="uk-nav uk-nav-default tm-nav">
    @for (item of components; track $index) {
    <li routerLinkActive="uk-active">
      <a [routerLink]="item">{{item | titlecase}}</a>
    </li>
    }
  </ul>
</div>

<!-- Right column -->
<div class="main uk-section uk-section-default">
  <div class="uk-container uk-container-small uk-position-relative">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Mobile off-canvas -->
<div id="offcanvas" uk-offcanvas="overlay: true; flip: true;">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <h3>Documentation</h3>
    <ul class="uk-nav uk-nav-default tm-nav">
      @for (item of components; track $index) {
      <li routerLinkActive="uk-active">
        <a [routerLink]="item">{{item | titlecase}}</a>
      </li>
      }
    </ul>
  </div>
</div>
