.sidebar-left {
  position: fixed;
  top: 80px;
  bottom: 0;
  box-sizing: border-box;
  width: 240px !important;
  border-right: 1px #e5e5e5 solid;
  overflow: auto;
  padding: 40px 40px 60px 40px;
  @media (min-width: 1400px) {
    width: 300px !important;
    padding: 45px 45px 60px 45px;
  }
}
.main {
  @media (min-width: 960px) {
    padding-left: 240px;
  }
}

.tm-nav {
  li {
    a {
      position: relative;
    }
    &.uk-active {
      a {
        &::before {
          content: "";
          position: absolute;
          top: 15px;
          left: -25px;
          width: 15px;
          border-top: 1px solid #1e87f0;
        }
      }
    }
  }
}

.header-button {
  &:hover {
    text-underline-offset: 15px;
    text-decoration: underline;
  }
}

.uk-offcanvas-bar-light {
  background: #f8f8f8;
  li {
    &.uk-active {
      a {
        color: #333;
      }
    }
    a {
      color: #999;
      &:hover {
        color: #333;
      }
    }
  }
  h3 {
    color: #333;
  }
  & .uk-close {
    color: rgba(0, 0, 0, 0.5);
  }
}
