<app-demo-title />

<hr class="uk-margin-medium">
<app-options #options [config]="config"></app-options>

<hr class="uk-margin-medium">
<div class="uk-grid-small uk-child-width-auto uk-margin" uikitGrid [uikitCountdown]="options.values$ | async">
  <div>
    <div class="uk-countdown-number uk-countdown-days"></div>
  </div>
  <div>
    <div class="uk-countdown-number uk-countdown-hours"></div>
  </div>
  <div>
    <div class="uk-countdown-number uk-countdown-minutes"></div>
  </div>
  <div>
    <div class="uk-countdown-number uk-countdown-seconds"></div>
  </div>
</div>
