<app-demo-title />

<hr class="uk-margin-medium">

<div class="uk-child-width-1-3@s" uikitGrid>
  <div class="uk-first-column">
    <ul class="uk-list">
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="home"></span> home</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="sign-in"></span> sign-in</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="sign-out"></span> sign-out</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="user"></span> user</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="users"></span> users</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="lock"></span> lock</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="unlock"></span> unlock</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="settings"></span> settings</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="cog"></span> cog</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="nut"></span> nut</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="comment"></span> comment</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="commenting"></span> commenting</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="comments"></span> comments</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="hashtag"></span> hashtag</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="tag"></span> tag</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="cart"></span> cart</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="bag"></span> bag</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="credit-card"></span> credit-card</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="mail"></span> mail</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="receiver"></span> receiver</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="print"></span> print</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="search"></span> search</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="location"></span> location</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="bookmark"></span> bookmark</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="code"></span> code</li>
    </ul>
  </div>
  <div>
    <ul class="uk-list">
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="paint-bucket"></span> paint-bucket</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="camera"></span> camera</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="video-camera"></span> video-camera</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="bell"></span> bell</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="microphone"></span> microphone</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="bolt"></span> bolt</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="star"></span> star</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="heart"></span> heart</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="happy"></span> happy</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="lifesaver"></span> lifesaver</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="rss"></span> rss</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="social"></span> social</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="git-branch"></span> git-branch</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="git-fork"></span> git-fork</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="world"></span> world</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="calendar"></span> calendar</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="clock"></span> clock</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="history"></span> history</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="future"></span> future</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="crosshairs"></span> crosshairs</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="pencil"></span> pencil</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="trash"></span> trash</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="move"></span> move</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="link"></span> link</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="link-external"></span> link-external</li>
    </ul>
  </div>
  <div>
    <ul class="uk-list">
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="eye"></span> eye</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="eye-slash"></span> eye-slash</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="question"></span> question</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="info"></span> info</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="warning"></span> warning</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="image"></span> image</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="thumbnails"></span> thumbnails</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="table"></span> table</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="list"></span> list</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="menu"></span> menu</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="grid"></span> grid</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="more"></span> more</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="more-vertical"></span> more-vertical</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="plus"></span> plus</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="plus-circle"></span> plus-circle</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="minus"></span> minus</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="minus-circle"></span> minus-circle</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="close"></span> close</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="close-circle"></span> close-circle</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="check"></span> check</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="ban"></span> ban</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="refresh"></span> refresh</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="play"></span> play</li>
      <li><span class="uk-margin-small-right uk-icon" uikitIcon="play-circle"></span> play-circle</li>
    </ul>
  </div>
</div>
