<app-demo-title />

<hr class="uk-margin-medium">

<div class="uk-child-width-1-3@s uk-grid" uk-grid="">
  <div class="uk-first-column">
    <ul class="uk-list">
      <li><span class="uk-margin-small-right uk-icon" uk-icon="home"></span> home</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="sign-in"></span> sign-in</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="sign-out"></span> sign-out</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="user"></span> user</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="users"></span> users</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="lock"></span> lock</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="unlock"></span> unlock</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="settings"></span> settings</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="cog"></span> cog</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="nut"></span> nut</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="comment"></span> comment</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="commenting"></span> commenting</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="comments"></span> comments</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="hashtag"></span> hashtag</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="tag"></span> tag</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="cart"></span> cart</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="bag"></span> bag</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="credit-card"></span> credit-card</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="mail"></span> mail</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="receiver"></span> receiver</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="print"></span> print</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="search"></span> search</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="location"></span> location</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="bookmark"></span> bookmark</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="code"></span> code</li>
    </ul>
  </div>
  <div>
    <ul class="uk-list">
      <li><span class="uk-margin-small-right uk-icon" uk-icon="paint-bucket"></span> paint-bucket</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="camera"></span> camera</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="video-camera"></span> video-camera</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="bell"></span> bell</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="microphone"></span> microphone</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="bolt"></span> bolt</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="star"></span> star</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="heart"></span> heart</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="happy"></span> happy</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="lifesaver"></span> lifesaver</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="rss"></span> rss</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="social"></span> social</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="git-branch"></span> git-branch</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="git-fork"></span> git-fork</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="world"></span> world</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="calendar"></span> calendar</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="clock"></span> clock</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="history"></span> history</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="future"></span> future</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="crosshairs"></span> crosshairs</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="pencil"></span> pencil</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="trash"></span> trash</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="move"></span> move</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="link"></span> link</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="link-external"></span> link-external</li>
    </ul>
  </div>
  <div>
    <ul class="uk-list">
      <li><span class="uk-margin-small-right uk-icon" uk-icon="eye"></span> eye</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="eye-slash"></span> eye-slash</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="question"></span> question</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="info"></span> info</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="warning"></span> warning</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="image"></span> image</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="thumbnails"></span> thumbnails</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="table"></span> table</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="list"></span> list</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="menu"></span> menu</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="grid"></span> grid</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="more"></span> more</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="more-vertical"></span> more-vertical</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="plus"></span> plus</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="plus-circle"></span> plus-circle</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="minus"></span> minus</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="minus-circle"></span> minus-circle</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="close"></span> close</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="close-circle"></span> close-circle</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="check"></span> check</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="ban"></span> ban</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="refresh"></span> refresh</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="play"></span> play</li>
      <li><span class="uk-margin-small-right uk-icon" uk-icon="play-circle"></span> play-circle</li>
    </ul>
  </div>
</div>
