<form [formGroup]="form" class="uk-form-stacked">
  @for (item of options; track $index) {
  <div>
    @if (item.type === "checkbox") {
    <!-- Checkboxes -->
    <div class="uk-margin">
      <label>
        <input type="checkbox" [formControlName]="item.name">
        {{item.label}}
      </label>
    </div>

    } @else if (item.type === "textbox") {
    <!-- Textbox -->
    <div class="uk-margin">
      <label class="uk-form-label">{{item.label}}</label>
      <div class="uk-form-controls">
        <input type="text" class="uk-input" [formControlName]="item.name" [placeholder]="item.placeholder">
      </div>
    </div>

    } @else if (item.type === "textarea") {
    <!-- Textarea -->
    <div class="uk-margin">
      <label class="uk-form-label">{{item.label}}</label>
      <div class="uk-form-controls">
        <textarea class="uk-input" [formControlName]="item.name" [placeholder]="item.placeholder"></textarea>
      </div>
    </div>

    } @else if (item.type === "number") {
    <div class="uk-margin">
      <label class="uk-form-label">{{item.label}}</label>
      <div class="uk-form-controls">
        <input type="number" class="uk-input" [formControlName]="item.name" [placeholder]="item.placeholder"
          [min]="item.min ?? null" [max]="item.max ?? null" [step]="item.step ?? null">
      </div>
    </div>

    } @else if (item.type === "select") {
    <!-- Select-->
    <div class="uk-margin">
      <label class="uk-form-label">{{item.label}}</label>
      <div class="uk-form-controls">
        <select class="uk-select" [formControlName]="item.name">
          <option [ngValue]="opt" *ngFor="let opt of item.values">{{opt | value}}</option>
        </select>
      </div>
    </div>

    } @else if (item.type === "radio") {
    <!-- Select-->
    <div class="uk-margin">
      <label class="uk-form-label">{{item.label}}</label>
      <div>
        <label *ngFor="let opt of item.values">
          <input type="radio" [value]="opt" [formControlName]="item.name">
          {{opt | value}}
        </label>
      </div>
    </div>

    }
  </div>
  }
</form>
