<h1>Dropdown</h1>

<hr class="uk-margin-medium">
<div class="uk-inline">
  <button class="uk-button uk-button-default" type="button">Hover</button>
  <div uk-dropdown>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
    et dolore magna aliqua.</div>
</div>

<div class="uk-inline uk-margin-small-left">
  <button class="uk-button uk-button-default" type="button">Click</button>
  <div uk-dropdown="mode: click">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua.</div>
</div>
