<h1>Navbar</h1>

<hr class="uk-margin-medium">
<app-options #options [config]="config"></app-options>

<div #container>
  <hr class="uk-margin-medium">
  <nav class="uk-navbar-container uk-padding-small uk-padding-remove-vertical"
    [uikitNavbar]="options.values$ | async | merge:{container: container}">
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active"><a href="#">Active</a></li>
        <li>
          <a href="#">Parent</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li class="uk-active"><a href="#">Active</a></li>
              <li><a href="#">Item</a></li>
              <li><a href="#">Item</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">Item</a></li>
      </ul>
    </div>
  </nav>
</div>
