<h1>Scrollspy</h1>

<hr class="uk-margin-medium">
<div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
  <div>
    <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
      <h3 class="uk-card-title">Left</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <div>
    <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
      <h3 class="uk-card-title">Right</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
</div>
