<app-demo-title />

<hr class="uk-margin-medium">
<ul class="uk-subnav uk-subnav-pill" uikitSwitcher>
  <li><a href="#">Item</a></li>
  <li><a href="#">Item</a></li>
  <li><a href="#">Item</a></li>
</ul>

<div class="uk-switcher uk-margin">
  <div>Hello!</div>
  <div>Hello again!</div>
  <div>Bazinga!</div>
</div>

<div class="uk-child-width-1-2@s uk-margin-large" uikitGrid>
  <div>
    <div uikitGrid>
      <div class="uk-width-auto@m">
        <ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
          <li><a href="#">Active</a></li>
          <li><a href="#">Item</a></li>
          <li><a href="#">Item</a></li>
        </ul>
      </div>
      <div class="uk-width-expand@m">
        <div id="component-tab-left" class="uk-switcher">
          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</div>
          <div>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</div>
          <div>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur,
            sed do eiusmod.</div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div uikitGrid>
      <div class="uk-width-auto@m uk-flex-last@m">
        <ul class="uk-tab-right" uk-tab="connect: #component-tab-right; animation: uk-animation-fade">
          <li><a href="#">Active</a></li>
          <li><a href="#">Item</a></li>
          <li><a href="#">Item</a></li>
        </ul>
      </div>
      <div class="uk-width-expand@m">
        <div id="component-tab-right" class="uk-switcher">
          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</div>
          <div>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</div>
          <div>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur,
            sed do eiusmod.</div>
        </div>
      </div>
    </div>
  </div>
</div>
