<app-demo-title />

<hr class="uk-margin-medium">
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>
  <div class="uk-slideshow-items">
    <div>
      <img src="https://getuikit.com/docs/images/photo.jpg" alt="" uk-cover>
    </div>
    <div>
      <img src="https://getuikit.com/docs/images/dark.jpg" alt="" uk-cover>
    </div>
    <div>
      <img src="https://getuikit.com/docs/images/light.jpg" alt="" uk-cover>
    </div>
  </div>
  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous
    uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next
    uk-slideshow-item="next"></a>
</div>
