<app-demo-title />

<hr class="uk-margin-medium">
<div class="uk-alert uk-alert-warning">Bugy: uikitSlidenav has no effect</div>

<hr class="uk-margin-medium">
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uikitSlideshow>
  <div class="uk-slideshow-items">
    <div>
      <img src="https://getuikit.com/docs/images/photo.jpg" alt="" uikitCover>
    </div>
    <div>
      <img src="https://getuikit.com/docs/images/dark.jpg" alt="" uikitCover>
    </div>
    <div>
      <img src="https://getuikit.com/docs/images/light.jpg" alt="" uikitCover>
    </div>
  </div>
  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uikitSlidenav="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uikitSlidenav="next"></a>
</div>
