<h1>Alert</h1>

<hr class="uk-margin-medium">
<app-options #options [config]="config"></app-options>

<hr class="uk-margin-medium">
<div [uikitAlert]="options.values$ | async">
  <a href class="uk-alert-close" uk-close></a>
  <h3>Notice</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua.</p>
</div>

<div class="uk-alert-primary" uikitAlert>
  <a href class="uk-alert-close" uk-close></a>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
</div>

<div class="uk-alert-success" uikitAlert>
  <a href class="uk-alert-close" uk-close></a>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
</div>

<div class="uk-alert-warning" uikitAlert>
  <a href class="uk-alert-close" uk-close></a>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
</div>

<div class="uk-alert-danger" uikitAlert>
  <a href class="uk-alert-close" uk-close></a>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
</div>
