<app-demo-title />

<hr class="uk-margin-medium">
<ul uikitTab>
  <li class="uk-active"><a href="#">Left</a></li>
  <li><a href="#">Item</a></li>
  <li><a href="#">Item</a></li>
  <li class="uk-disabled"><a>Disabled</a></li>
</ul>

<div class="uk-child-width-1-2@s" uk-grid>
  <div>
    <ul class="uk-tab-left" uikitTab>
      <li class="uk-active"><a href="#">Left</a></li>
      <li><a href="#">Item</a></li>
      <li><a href="#">Item</a></li>
    </ul>
  </div>

  <div>
    <ul class="uk-tab-right" uikitTab>
      <li class="uk-active"><a href="#">Right</a></li>
      <li><a href="#">Item</a></li>
      <li><a href="#">Item</a></li>
    </ul>
  </div>
</div>
