<div #container>
  <app-demo-title />

  <app-options #options [config]="config"></app-options>

  <hr class="uk-margin-medium">
  <nav uikitDropnav>
    <ul class="uk-subnav">
      <li class="uk-active"><a href="#">Active</a></li>
      <li>
        <a href>Parent <span uikitDropParentIcon></span></a>
        <div class="uk-dropdown">
          <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-active"><a href="#">Active</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href>Parent <span uikitDropParentIcon></span></a>
        <div class="uk-dropdown">
          <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-active"><a href="#">Active</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
        </div>
      </li>
      <li><a href="#">Item</a></li>
    </ul>
  </nav>
</div>
