<div class="uk-container">
  <div class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-background-primary uk-padding-large">
    <p><img src="https://getuikit.com/images/uikit-logo-large.svg" width="168" height="155" alt="UIkit Logo"></p>
    <h1 class="uk-margin-medium uk-text-lead uk-text-center" style="color: white;">UIkit is a lightweight and modular
      front-end framework<br class="uk-visible@s"> for developing fast and powerful web interfaces.</h1>
    <div class="uk-child-width-auto uk-grid-medium uk-flex-inline uk-flex-center uk-grid" uk-grid="">
      <div class="uk-first-column">
        <a class="uk-button uk-button-secondary uk-button-large uk-visible@s" routerLink="accordion">Get Started</a>
        <a class="uk-button uk-button-secondary uk-button-small uk-hidden@s" routerLink="accordion">Get Started</a>
      </div>
      <div>
        <a class="uk-button uk-button-secondary uk-button-large tm-button-large uk-visible@s"
          href="https://github.com/uikit/uikit" target="_blank">GitHub</a>
        <a class="uk-button uk-button-secondary uk-button-small uk-hidden@s" href="https://github.com/uikit/uikit"
          target="_blank">GitHub</a>
      </div>
    </div>
  </div>
</div>
