<app-demo-title />

<hr class="uk-margin-medium">
<ul class="uk-grid-small uk-child-width-1-2 uk-child-width-1-4@s" [uikitSortable]="{handle: '.uk-sortable-handle'}"
  uikitGrid>
  <li>
    <div class="uk-card uk-card-default uk-card-body">
      <span class="uk-sortable-handle uk-margin-xsmall-right uk-text-center" uikitIcon="table"></span>Item 1
    </div>
  </li>
  <li>
    <div class="uk-card uk-card-default uk-card-body">
      <span class="uk-sortable-handle uk-margin-xsmall-right uk-text-center" uikitIcon="table"></span>Item 2
    </div>
  </li>
  <li>
    <div class="uk-card uk-card-default uk-card-body">
      <span class="uk-sortable-handle uk-margin-xsmall-right uk-text-center" uikitIcon="table"></span>Item 3
    </div>
  </li>
  <li>
    <div class="uk-card uk-card-default uk-card-body">
      <span class="uk-sortable-handle uk-margin-xsmall-right uk-text-center" uikitIcon="table"></span>Item 4
    </div>
  </li>
  <li>
    <div class="uk-card uk-card-default uk-card-body">
      <span class="uk-sortable-handle uk-margin-xsmall-right uk-text-center" uikitIcon="table"></span>Item 5
    </div>
  </li>
  <li>
    <div class="uk-card uk-card-default uk-card-body">
      <span class="uk-sortable-handle uk-margin-xsmall-right uk-text-center" uikitIcon="table"></span>Item 6
    </div>
  </li>
  <li>
    <div class="uk-card uk-card-default uk-card-body">
      <span class="uk-sortable-handle uk-margin-xsmall-right uk-text-center" uikitIcon="table"></span>Item 7
    </div>
  </li>
  <li>
    <div class="uk-card uk-card-default uk-card-body">
      <span class="uk-sortable-handle uk-margin-xsmall-right uk-text-center" uikitIcon="table"></span>Item 8
    </div>
  </li>
</ul>
